/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6a0dad, #8e2de2);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #6a0dad;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
}

nav {
    margin: 20px 0;
    z-index: 1;
}

nav button {
    background-color: #8e2de2;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav button:hover {
    background-color: #6a0dad;
    transform: translateY(-2px);
}

.section {
    width: 80%;
    max-width: 1000px;
    background: white;
    margin: 20px 0;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: translateY(-25px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin: 10px 0 5px;
    font-weight: 500;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1
      
