<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Championato - Admin</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <img id="header-image" src="https://cdn.glitch.global/46648d24-7591-466a-af03-3f767df8a509/brasao.png?v=1717442451877" alt="Brasão">
        <h1>Bem-vindo, este é o Championato</h1>
    </header>
    <nav>
        <button onclick="showSection('score-section')">Tabela de Pontuação</button>
        <button onclick="showSection('history-section')">Histórico de Mamanços</button>
        <button onclick="showSection('admin-section')">Gallo-Praxis</button>
    </nav>
    <div id="admin-section" class="section" style="display: none;">
        <h2>Gallo-Praxis</h2>
        <div id="add-bonus">
            <h3>Adicionar Bónus</h3>
            <form id="bonus-form">
                <label for="bonus-description">Descrição do Bónus: </label>
                <input type="text" id="bonus-description" required>
                <label for="bonus-value">Valor do Bónus: </label>
                <input type="number" id="bonus-value" required>
                <button type="submit">Adicionar Bónus</button>
            </form>
            <ul id="bonus-list"></ul>
            <button id="clear-bonuses" onclick="clearBonuses()">Apagar Todos os Bónus</button>
        </div>
        <div id="add-event">
            <h3>Adicionar Mamanço</h3>
            <form id="mamador1-form">
                <div id="mamador1-section">
                    <label for="mamador1-name">Nome do 1º Mamador: </label>
                    <input type="text" id="mamador1-name" required>
                    <label for="mamador1-gender">Género do 1º Mamador: </label>
                    <select id="mamador1-gender" onchange="updateHierarchyOptions('mamador1')">
                        <option value="homem">Homem à Antiga</option>
                        <option value="mulher">Mulher à Antiga</option>
                    </select>
                    <label for="mamador1-hierarchy">Hierarquia do 1º Mamador: </label>
                    <select id="mamador1-hierarchy">
                        <!-- Options will be dynamically updated -->
                    </select>
                    <br>
                    <label for="is-champi-1">É Champi?</label>
                    <input type="checkbox" id="is-champi-1">
                    <br>
                    <button type="submit">Adicionar Mamador 1</button>
                </div>
            </form>
            <form id="mamador2-form" style="display:none;">
                <div id="mamador2-section">
                    <label for="mamador2-name">Nome do 2º Mamador: </label>
                    <input type="text" id="mamador2-name" required>
                    <label for="mamador2-gender">Género do 2º Mamador: </label>
                    <select id="mamador2-gender" onchange="updateHierarchyOptions('mamador2')">
                        <option value="homem">Homem à Antiga</option>
                        <option value="mulher">Mulher à Antiga</option>
                    </select>
                    <label for="mamador2-hierarchy">Hierarquia do 2º Mamador: </label>
                    <select id="mamador2-hierarchy">
                        <!-- Options will be dynamically updated -->
                    </select>
                    <br>
                    <label for="is-champi-2">É Champi?</label>
                    <input type="checkbox" id="is-champi-2">
                    <br>
                    <button type="submit">Adicionar Mamador 2</button>
                </div>
            </form>
            <form id="bonus-form-selection" style="display:none;">
                <h3>Obrigado! Só por curiosidade, aconteceu algum destes bónus?</h3>
                <label for="bonus-select">Bónus: </label>
                <select id="bonus-select" multiple></select>
                <br>
                <button type="submit">Adicionar Bónus</button>
            </form>
        </div>
        <div id="manage-events">
            <h3>Gerenciar Mamanços</h3>
            <ul id="manage-mamanços-list"></ul>
            <button id="clear-all" onclick="clearAllData()">Apagar Todo o Histórico</button>
        </div>
        <div id="reset-section">
            <h3>Resetar Histórico</h3>
            <form id="reset-form">
                <label for="admin-key">Chave de Admin: </label>
                <input type="password" id="admin-key" required>
                <button type="submit">Limpar Histórico</button>
            </form>
        </div>
    </div>

    <script src="/public/script.js"></script>
</body>
</html>
